:80

redir /code /code/
route /code/* {
  uri strip_prefix /code
  reverse_proxy 127.0.0.1:8080
}

redir /rstudio /rstudio/
route /rstudio/* {
  uri strip_prefix /rstudio
  reverse_proxy {
    to 127.0.0.1:8787
    header_down  Location (?:^.+://)?(?:[^:/]+)?(?::[^/]+)?/  ./
    # header_down  Location ([^:]+://[^:]+(:[0-9]+)?/)  ./
  }
}

redir /pgadmin  /pgadmin/
route /pgadmin/* {
  #uri strip_prefix /pgadmin
  reverse_proxy {
    to 127.0.0.1:5050
    #header_down  Location (?:^.+://)?(?:[^:/]+)?(?::[^/]+)?/  ./
    header_up    X-Forwarded-Prefix    /pgadmin
    header_up    X-Script-Name         /pgadmin
    header_up    REMOTE-USER           {env.USER_NAME}
  }
}

redir /jupyter /jupyter/
route /jupyter/* {
  #uri strip_prefix /jupyter
  reverse_proxy {
    to 127.0.0.1:8888
    #header_down  Location (?:^.+://)?(?:[^:/]+)?(?::[^/]+)?/  ./
  }
}

redir /cloudbeaver /cloudbeaver/
route /cloudbeaver/* {
  #uri strip_prefix /cloudbeaver
  reverse_proxy {
    to 127.0.0.1:8978
    header_up   X-User    liveware
    header_up   X-Role    admin
    #header_down  Location (?:^.+://)?(?:[^:/]+)?(?::[^/]+)?/  ./
  }
}

redir /label-studio /label-studio/
route /label-studio/* {
  uri strip_prefix /label-studio
  header Access-Control-Allow-Origin '*'
  # header Location (?:^.+://)?(?:[^:/]+)?(?::[^/]+)?(/label-studio)?/  /label-studio/

  # replace {
  #     re href="/(label-studio/)?      href="/label-studio/ 
  #     re src="/(label-studio/)?       src="/label-studio/
  #     re (label-studio)?/?react-app   label-studio/react-app
  #     #data/upload             label-studio/data/upload    
  #     #data/avatars            label-studio/data/avatars
  #     #label-studio-frontend   label-studio/label-studio-frontend         
  # }


  handle_path /static/* {
    file_server {
      # root /opt/label-studio/label-studio/static
      root /opt/label-studio/lib/python3.9/site-packages/label_studio/core/static_build/
    }
  }
  handle_path /react-app/* {
    file_server {
      # root /opt/label-studio/label-studio/react-app
      root /opt/label-studio/lib/python3.9/site-packages/label_studio/frontend/dist/react-app
    }
  }
  handle_path /label-studio-frontend/* {
    file_server {
      # root /opt/label-studio/label-studio/lsf
      root /opt/label-studio/lib/python3.9/site-packages/label_studio/frontend/dist/lsf
    }
  }
  reverse_proxy {
    to 127.0.0.1:13500
    header_up   Access-Control-Allow-Origin '*'
    # header_down Location (?:^.+://)?(?:[^:/]+)?(?::[^/]+)?(/label-studio)?/  /label-studio/
  }

}


redir /files /files/
route /files/* {
  uri strip_prefix /files
  file_server {
    root  /home/liveware
    browse
  }
}

@proxyport {
  path_regexp proxyport ^/port/([0-9]+)/(.*)
}
@proxyportstub {
  path_regexp proxyportstub ^/port/[0-9]+$
}

redir @proxyportstub {re.proxyportstub.0}/
handle @proxyport {
  uri path_regexp ^/port/[0-9]+/?  /
  reverse_proxy {
    to localhost:{re.proxyport.1}
    header_down  Location (?:^.+://)?(?:[^:/]+)?(?::[^/]+)?/  ./
  }
}


redir /port /port/
route /port/ {
  respond "you need to enter a port number - ie /port/[port_number]/"
}

route /* {
  file_server {
    root /var/www/html

    browse
  }
}


